



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;

  --primaryColor:#E51C23;
  --buttonColor:#FDBB11;
}



body {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


