



@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;

  --primaryColor:#E51C23;
  --buttonColor:#FDBB11;
}



body {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.swal-icon--success__ring {
  @apply !border-4 border-[#a5dc86]; /* Tailwind utility classes: 4px border and green border color */
}

